@model IEnumerable<MVCMusicStoreApplication.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />
<p>

    <strong><em> Here are the list of albumns</em></strong>

</p>



<ul>


    @foreach (var item in Model)
    {


        <li>


            @Html.ActionLink(item.Title, "Details", new { id = item.AlbumId })


        </li>

    }
</ul>


<button>

 @Html.ActionLink("Back to Browse", "Browse")

    </button>