@model IEnumerable<EventApplication.Models.Events>

div id=" searchresults">

<div >

    <table>
        <tr>
            <th>Event Title</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>


        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>



                    @item.EventTitle

                    </td>








                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.EventsId })

                    </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EventsId })
                    </td>
                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.EventsId })
                </td>
            </tr>

        }
    </table>
</div>  